BasedOnStyle: LLVM
ColumnLimit: 98
IndentWidth: 4
Language: Cpp
BreakStringLiterals: false
AllowShortCaseLabelsOnASingleLine: true

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
ExperimentalAutoDetectBinPacking: false
